/* RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
/* COMMON */
ul {
    list-style: none;
}
/* HEADER */
header {
    background-color: #ff6900;
    margin-bottom: 58px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.7);
}
.header-container {
    max-width: 1380px;
    margin: 0 auto;
    color: white;
    padding-top: 20px;
    padding-bottom: 25px;
}
.top-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
}
.top-menu .sections,
.icons {
    width: 20%;
}
.top-menu .logo {
    width: 60%;
    text-align: center;
}
.top-menu .logo img {
    width: 100px;
}
.sections > ul {
    display: flex;
    justify-content: flex-start;
    gap: 8px;
    font-weight: bold;
}
.icons > ul {
    display: flex;
    justify-content: flex-end;
    gap: 7px;
}

/* MAIN */
.container {
    width: 1380px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.item {
    width: calc((100% - 40px ) / 3);
}
.image1 {
    display: block;
}
.image2 {
    display:none;
}
.image-change:hover .image1 {
    display: none;
}
.image-change:hover .image2 {
    display: block;
} 
.item .item-top {
    position: relative;
}
.item img {
    width: 100%;
}
.item-top .heart {
    position: absolute;
    right: 0;
    top: 10px;
    width: 50px;
    height: 50px;
    background-color: white;
    line-height: 50px;
    text-align: center;
    font-size: 30px;
}
.heart:hover {
    color: red;
}
 .discount {
    position: absolute;
    left: 0;
    bottom: 40px;
 }
 .discount .discount-red,
 .sustain {
    height: 30px;
    line-height: 30px;
    padding: 7px 10px;
    color: white;
    font-weight: bold;
 }
 .discount .discount-red {
    background-color: red;
    margin-right: 5px;
 }
 .discount .sustain {
    background-color: green;
 }

.item-bottom div:nth-child(even) {
    text-transform: uppercase;
    font-weight: 500;
}
.item-bottom div:first-child,
.price-crossed {
    color: grey;
}
.price .price-red {
    color: red
}
.price .price-crossed {
    text-decoration: line-through;
}